.ant-targets-build.xml
.checkstyle
.classpath
.externalToolBuilders
.fbprefs
.project
.settings
.idea
.vscode
*.iml
*.ipr
*.iws
*.asc
*.jj
*.tmp
Hello/build/classes/.gitignore
# Java class files
*.class
